################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dead Matter Server Manager/Dead Matter Server Manager/obj/x64/Debug/Dead Matter Server Manager.csprojAssemblyReference.cache
